.menu-extension-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
.menu-extension {width: 280px; z-index: 100; position: fixed; top: 98px; right: 0px;
    .icon-close {display: inline-block; background: url("../../../public/images/icon_close.svg") no-repeat center; 
        width: 32px; height: 32px; position: absolute; right: 0px; top: -32px;}
    div {height: 72px; width: 100%; background-color: #777777; color: white; padding: 23px 0 0 32px; font-size: 18px; text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205); display: inline-block;
        a { text-decoration: none; color: white;}
    }
}