$hiragino: Hiragino_Kaku_Gothic_Pro;
$Noto-Black: NotoSansJP-Black;
$Noto-Bold: NotoSansJP-Bold;
$Noto-Light: NotoSansJP-Light;
$Noto-Medium: NotoSansJP-Medium;
$Noto-Regular: NotoSansJP-Regular;
$Noto-Thin: NotoSansJP-Thin;
$Inter: Inter;

@font-face {
    font-family: $hiragino;
    src: url("../fonts/Hiragino_Kaku_Gothic_Pro_W3.otf");
}

@font-face {
    font-family: $Noto-Black;
    src: url("../fonts/NotoSansJP-Black.otf");
}

@font-face {
    font-family: $Noto-Bold;
    src: url("../fonts/NotoSansJP-Bold.otf");
}

@font-face {
    font-family: $Noto-Light;
    src: url("../fonts/NotoSansJP-Light.otf");
}

@font-face {
    font-family: $Noto-Medium;
    src: url("../fonts/NotoSansJP-Medium.otf");
}
@font-face {
    font-family: $Noto-Regular;
    src: url("../fonts/NotoSansJP-Regular.otf");
}

@font-face {
    font-family: $Noto-Thin;
    src: url("../fonts/NotoSansJP-Thin.otf");
}
@font-face {
    font-family: $Inter;
    src: url("../fonts/Inter-VariableFont_slnt_wght.ttf");
}