@use "../variables/text" as fonts;
@use "../variables/colors" as colors;
@use "../utils" as utils;

.list-element--exercise {
    background-color: #FFCC21; position: relative; padding: 16px !important; flex-basis: utils.get-vw(287px) !important ;flex-direction: row; flex-wrap: wrap;
    justify-content: center; z-index: 0;
    img {opacity: 1; z-index: 1; position: absolute; }
    .image-title {position: absolute; top: 100px; text-align: center; width: 100%; font-family: fonts.$inter-Regular; font-weight: 400; font-size: 25px;
    color: colors.$primary-300; z-index: 3;} 
    button {position: relative; display: inline-flex;  bottom: 120px; font-family: fonts.$hiragino; font-size: 14px; color: colors.$light; 
        background-color: colors.$primary-400; padding: 0 20px; border: 0; outline: 0; z-index: 3;
    }
    .image-cover {width: 240px; height: 240px; background-color: black;  opacity: 0.4; z-index: 2;}
    &+.list-element--exercise {margin-left: utils.get-vw(40px);}
}
#exercisePage{ 
    .list-record { margin-top: 56px;}}

.graph-area, .exercise-area {
    padding: 16px 20px; margin-top: 56px;
    .area-title {text-align: left; color: colors.$light; font-family: fonts.$inter-Regular; font-weight: 400; 
        &--date {font-size: 22px !important; position: relative; bottom: 8px; }
        span {font-size: 15px; display: inline-block; width: 80px; line-height: 20px;}
    }
}
.graph-area {
    .body-record-config-area {
        justify-content: left; height: 24px; margin-top: 10px;
        button { float: left; width: 56px; height: 24px; border-radius: 15px; border: 0; outline: 0; background-color: colors.$light; color: colors.$primary-300;
            font-family: fonts.$hiragino; font-size: 15px; color: colors.$primary-300;
            &.selected {background-color: colors.$primary-300; color: colors.$light;}
            &+button {margin-left: 16px;}
        }
    }
}
.exercise-area { 
    .list-record {height: 300px; overflow: auto; margin: 0 !important;}
    .list-element {flex-basis: utils.get-vw(400px); display: flex; 
        &:nth-child(2n) {padding-left: 40px !important; padding-right: 20px !important;}
    }
    .exercise-data { display: flex; flex-wrap: wrap;
        .first-row {display: block; width: 100%;}
        .dot {font-size: 6px; line-height: 20px; position: relative; bottom: 3px; margin-right: 8px; }
        .exercise-name {float: left; position: relative;}
        .exercise-time {justify-content: flex-end; display: inline; float: right; position: relative; right: 15px;}
    }
    .exercise-calories {flex: 0 0 100%; display: flex; border-bottom: 1px solid colors.$gray-400; }
}
.diary-area {
    margin-top: 56px;
    .list-record {margin: 0 !important;}
    .area-title {color: colors.$dark-500 ; text-align: left; height: 32px; font-size: 22px; margin-bottom: -12px;}
    .list-element {
        &.diary-data { flex-wrap: wrap; }
        padding: 12px 0 0 12px !important;
        &:nth-child(4n+1) {padding-left: 0 !important;}
        .list-element-content {padding: 16px 16px 26px 16px; border: 1px solid colors.$gray-400;}
        .diary-content {font-size: 12px; text-align: left; margin-top: 8px;}
    }
}