@use "../variables/text" as fonts;
@use "../variables/colors" as colors;
@use "../utils" as utils;


.recommended-area { margin-top: 56px;
    .list-element {padding: 0 0 0 32px !important; width: calc(25% - utils.get-vw(32px)) !important; display: block;
        &:first-child {padding-left: 0 !important;}
        &-content {width: 100%;height: 144px; padding: 24px 8px 8px 8px; font-size: 22px;
            div:nth-child(3) {font-size: 18px;}
        }
        .white-line-56px {height: 1px; width: utils.get-vw(56px); background-color: colors.$light;margin-left: calc(50% - 28px); 
            margin-top: 10px; margin-bottom: 8px;}

    }
}

.activity-area { margin-top: 56px;
    .list-element { flex-wrap: wrap;padding: 0 0 0 utils.get-vw(8px) !important; width: calc(25% - utils.get-vw(8px)) !important; display: block;
        img {width: 100%; height: utils.get-vw(144px);}
        &:nth-child(4n+1) {padding-left: 0 !important;
            .list-element--details {left: 0 !important}
        }
        &--details {left: utils.get-vw(8px); top: utils.get-vw(112px); position: absolute;}
    }
    &-content {text-align: left; font-size: 15px; line-height: 22px; margin-top: 8px;}
    &-hashtag {text-align: left; font-size: 12px; line-height: 22px; margin-bottom: 18px;}
}