$light : #FFFFFF;
$primary-300: #FFCC21;
$primary-400: #FF963C;
$primary-500: #EA6C00;
$secondary-300: #8FE9D0;

$dark-600: #2E2E2E;
$dark-500: #414141;
$gray-400: #777777;
.color-light {color: $light}
.color-prim-300 {color: $primary-300}
.color-prim-400 {color: $primary-400}
.color-prim-500 {color: $primary-500}
.color-sec-300 {color: $secondary-300}

.color-dark-600 {color: $dark-600}
.color-dark-500 {color: $dark-500}
.color-gray-400 {color: $gray-400}